.articles__preview_container {
  height: calc(100% - 61px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
  animation: 1s ease alternate showContent;
}

.articles__preview_window {
  width: 940px;
  max-height: 850px;
  background-color: #fff;
  margin: 28px auto 28px auto;
  padding: 17px;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.article__maininfo {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.article__maininfo_container {
  max-width: inherit;
  box-sizing: border-box;
}

.article__title_block,
.article__title_favoriteCount {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article__favorited {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.article__title_favoriteCount {
  gap: 5px;
}

.article__title {
  color: #1890ff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 600px;
  word-wrap: break-word;
}

.article__tags {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style-type: none;
}

.article__tag {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 400;
  padding: 3px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  max-width: 550px;
  word-wrap: break-word;
}

.article__btns {
  display: flex;
  gap: 12px;
  justify-content: center;
  min-width: 150px;
}

.article__deleteBtn {
  position: relative;
  z-index: 2;
}

.article__author {
  display: flex;
  gap: 12px;
}

.article__author_info {
  display: flex;
  flex-direction: column;
}

.article__author__name {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: right;
}

.article__author__date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

.article__author_img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.article__subtitle {
  display: flex;
  justify-content: space-between;
}

.article__description {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
  max-width: 600px;
}

.article__body {
  margin-top: 25px;
  font-size: 20px;
  line-height: 28px;
  word-wrap: break-word;
  overflow-y: scroll;
  max-height: 500px;
}

.article__body ul,
.article__body ol {
  list-style-position: inside;
}

@keyframes showContent {
  from {
    scale: 0.8;
  }
  to {
    scale: 1;
  }
}
