.signUp__page {
  background-color: #ebeef3;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.create__form {
  margin: 60px auto 0 auto;
  width: 385px;
  height: 600px;
}

.signUp__page_loading {
  background-color: #eaeef2 !important;
}
