.articles__page {
  background-color: #ebeef3;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.articles_items {
  margin: 60px auto 0 auto;
  position: relative;
  width: inherit;
}

.articles__list {
  height: calc(100% - 61px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.article__pagination {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.articles__loader {
  background-color: red;
}
