.form {
  box-sizing: border-box;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow:
    0px 0.6088px 2.93329px 0px rgba(0, 0, 0, 0.02),
    0px 1.46302px 7.04911px 0px rgba(0, 0, 0, 0.03),
    0px 2.75474px 13.27285px 0px rgba(0, 0, 0, 0.04),
    0px 4.91399px 23.67649px 0px rgba(0, 0, 0, 0.04),
    0px 9.19107px 44.28427px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.login__title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 28px;
  color: #262626;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login__form__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__form__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.login__form__input {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.login__form__input_error {
  border: 1px solid #ff0000;
}

.error__message {
  position: absolute;
  top: -2px;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.error__message__icon {
  position: relative;
  width: 15px;
  height: 15px;
  top: 2px;
}

.error__description {
  color: #ff0000;
  padding-top: 5px;
}

.input_btn {
  background-color: #1890ff;
  color: #fff;
  margin-top: 20px;
}

.login__link {
  text-decoration: none;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.login__link p span {
  color: #1890ff;
}
